<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.tvnasim.khandevaneh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/KhandevanehTheme">
        <service android:name=".helper.firebase.notification.KhandevanehFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".helper.firebase.notification.KhandevanehFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/polling_background" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />

        <activity
            android:name=".app.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.NoNetworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.UpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.profile.ProfileCompletionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leaderboard.LeaderBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".store.StoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".livelike.LiveLikeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".archive.ArchiveCategoriesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".archive.ArchiveListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".archive.ArchiveActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".archive.FullScreenVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".polling.PollingListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".polling.PollingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".polling.PollingStatisticsActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>